<!-- /templates/base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}ATS Resume Checker{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('links') }}">Links</a></li>
        <li><a href="#">Portfolio</a></li>
      </ul>
    </nav>

    <div class="container">{% block content %}{% endblock %}</div>

    <footer>
      <p>Built with 💙 by Beru V3</p>
    </footer>
  </body>
</html>
